<nav class="navbar navbar-light">
  <a class="" routerLink="/"></a>
<ul class="nav flex-column">
  <li class="nav-item" routerLinkActive="active"   
          [routerLinkActiveOptions]="{exact:true}">
          <a class="navbar-brand" routerLink="/">BBlooggss </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/crearCuenta">CREAR CUENTA</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/ingresar">LOGIN</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/crearBlog">CREAR BLOG</a>
    </li>
</ul>
</nav>

